.pressione {
  width: 225px;
  height: 40px;
  background-color: #2E86AB;
  color: #FFFFFF;
  font-weight: bold;
  font-size: 24px;
  text-shadow: 2px 3px 3.5px rgba(0, 0, 0, 0.5);
  border: none;
  border-radius: 20px;
  box-shadow: 4px 5px 10px rgba(0, 0, 0, 0.3);
  position: absolute;
  transition: all 0.5s ease;
}


.animated-btn:before {
  height: 0%;
  width: 2px;
}
.animated-btn:hover {
  box-shadow:  4px 4px 6px 0 rgba(255,255,255,.5),
              -4px -4px 6px 0 rgba(116, 125, 136, .5), 
    inset -4px -4px 6px 0 rgba(255,255,255,.2),
    inset 4px 4px 6px 0 rgba(0, 0, 0, .4);
}

@media (max-width: 480px) {
  .pressione {
    width: 30vw;
    height: 10vw;
    font-size: 3.5vw;
  }
}